
 .logo{
   display: flex;
   flex-grow: 1;
   align-items: center;
   color: MediumAquamarine;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
}

.nav{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container{
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.column.large {
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
   border: 1px solid black;
}
