
 .logo{
   display: flex;
   flex-grow: 1;
   align-items: center;
   color: MediumAquamarine;
   font-family: Verdana;
   font-size: 14px;
   font-weight: bold;
}

.nav{
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.container{
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.column.large {
  width: 630px;
  border: 1px solid black;
  justify-content: space-between;
}

.column.medium {
  border: 1px solid black;
  justify-content: space-between;
  width: 300px;
}

.column.small {
   border: 1px solid black;
   display:flex;
   width: 240px;
   display:block;
}

.img{
  align-items:flex-start;
  flex-direction: row;

}

.column {
display: flex;
flex-direction: column;
}


.image-content{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}


.image-content p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
}


div {
   border: 1px solid black;
}

.content {
  display:flex;
  }

.second-content{
  display:flex;
  flex-direction: column;
  width: 630px;
  border: 1px solid black;
}
div{
  display:block;
}

.cookie-contaier{
  display:flex;
  flex-direction: column;
}
